FFTA/Temp/UnityLockfile
FFTA/Library/metadata/94
FFTA/Library/metadata/6d
FFTA/Library/ShaderCache.db
FFTA/Library/shadercompiler-UnityShaderCompiler.exe0.log
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/Android/builds/unity-ads.aar
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/Android/builds/unity-ads.aar.meta
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/Android/builds.meta
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/iOS/builds.meta
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/Editor/landscape.jpg
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/Editor/landscape.jpg.meta
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/Editor/portrait.jpg
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/Editor/portrait.jpg.meta
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/iOS/builds/UnityAds.framework/Headers/UADSInAppPurchaseMetaData.h
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/iOS/builds/UnityAds.framework/Headers/UADSInAppPurchaseMetaData.h.meta
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/iOS
FFTA/Library/PackageCache/com.unity.ads@2.0.8/Editor/Resources/Android.meta
FFTA/Library/PackageCache
